html{
    font-family: Helvetica, sans-serif;
    line-height: 1.5;
}
section {
    display: flex;
    justify-content: space-between;
    max-width: 70vw;
    margin: 64px;
}
article{
    width: 30%;
}

h2{
    font-family: Georgia, serif;
}