html{
    font-family: Helvetica, sans-serif;
    color: rgb(51, 51, 51);
}
body{
    padding: 24px;
    margin: 16px;
    background-color: rgb(238, 238, 238);
}
.divided{
    display: inline-block;
}

article.divided{
    width: 60%;
}
aside.divided{
    width: 30%;
    float: right;
    
}
img{
 width: 70%;
 height: 70%;
}